body {
    font-family: Helvetica, sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
    height: 100vh;
}

.cal-box {
    background-color: #000000;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#screen {
    width: 92%;
    height: 150px;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
    text-align: right;
    font-size: 5rem;
    border: none;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0 25px 10px 23px;
    margin-top: 25px;
}

button {
    background-color: hsl(0, 0%, 30%);
    border: none;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    cursor: pointer;
    color: #ffffff;
    font-size: 2.5rem;
    margin: 3px;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

#lastRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0 25px 50px 23px;
}

#zero {
    width: 220px;
}

.white {
    background-color: hsl(0, 0%, 70%);
    color: #000000;
}

.white:hover {
    background-color: hsl(0, 0%, 80%);
    color: #000000;
}

.white:active {
    background-color: hsl(0, 0%, 90%);
    color: #000000;
}

.orange {
    background-color: hsl(35, 100%, 50%);
}

.orange:hover {
    background-color: hsl(35, 100%, 60%);
}

.orange:active {
    background-color: hsl(35, 100%, 70%);
}

@media(max-width: 768px) {
    .cal-box {
        max-width: 350px;
        overflow: hidden;
    }

    #screen {
        width: 95%;
        height: 90px;
        padding: 10px;
        background-color: #000000;
        color: #ffffff;
        text-align: right;
        font-size: 3.5rem;
        border: none;
    }

    #buttons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1px;
        padding: 0 15px 5px 17px;
        margin-top: 15px;
    }

    button {
        background-color: hsl(0, 0%, 30%);
        border: none;
        border-radius: 50px;
        height: 65px;
        width: 65px;
        cursor: pointer;
        color: #ffffff;
        font-size: 1.5rem;
        margin: 5px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #lastRow {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        padding: 0 15px 40px 17px;
    }

    #zero {
        width: 145px;
    }

    footer {
        font-size: 12px;
    }
}